
<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
        <a href="/" class="navbar-brand">CRUD NODE JS Y MONGO DB</a>
    </div>
</nav>

<p>navbar</p>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/editar">Editar</a></li>
    <li><a href="/about">About</a></li>
</ul>

